// Mixins.

nl()
  margin 0
  padding 0
  text-indent 0
  list-style none
  list-style-position outside

cf()
  &:before, &:after
    content ""
    display table

  &:after
    clear both

// You can add your own mixins here:

maket(enable = false, img)
  if enable
    body:before
      content ''
      background url('../../maket/' + img + '.jpg') center 0 no-repeat
      position absolute
      height image-size('../../../../dev/maket/' + img + '.jpg')[1]
      width 100%
      top 0
      left 0
      right 0
      z-index -1
      opacity: .7

center()
  position: absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

v-center()
  &:before
    content: ''
    display: inline-block
    height: 100%
    width: 1%
    vertical-align: middle

mainContainer()
  max-width widthPage
  width 100%
  margin auto

img(name, ext, wh = '')

  if wh == 'i'
    urlImg = '../img/' + wh + '-' + name + '.' + ext
    urlLoc = '../img/icon/' + wh + '-' + name + '.' + ext
  else
    urlImg = '../img/' + name + '.' + ext
    urlLoc = '../img/general/' + name + '.' + ext

  background url(urlImg) 0 0 no-repeat
  width image-size(urlLoc)[0]
  height image-size(urlLoc)[1]

icon(name, ext)
  wh = 'i'
  .{wh}-{name}
    display inline-block
    img(name, ext, wh)

svg(name, width, height = width)
  background url('../img/' + name + '.svg') 0 0 no-repeat
  width width
  height height

pattern(name, ext)
  background url('../img/pattern-' + name + '.' + ext) center repeat

hoverOpacity(numb = .8)
  transition opacity .3s
  &:hover
    opacity numb

hardware()
  transform translateZ(0)

placeholder-text()
  &::-webkit-input-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}

ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

fullBg(color = black)
  position relative
  zIndex_base()

  &:before
    content ''
    display: block
    background-color color
    zIndex_base(-2)
    position: absolute
    top 0
    left -100%
    right -100%
    bottom 0

zIndex_base(num = 0)
  z-index 1 + num

zIndex_content(num = 0)
  z-index 100 + num

zIndex_modal(num = 0)
  z-index 200 + num

justifyBlock()
  font-size: 0
  text-align: justify

  &:after
    content: ''
    height: 0
    width: 100%
    display: inline-block

inner(height = inherit)
  &__in
    height height
    width widthPage
    margin auto
    position relative
    cf()

// Mixin for caching the blocks with the given conditions
media($condition)
  helper($condition)
    unless $media_cache[$condition]
      $media_cache[$condition] = ()
    push($media_cache[$condition], block)

  +helper($condition)
    {selector() + ''}
      {block}

// Function we would use to call all the cached styles
apply_media_cache()
  for $media, $blocks in $media_cache
    $media = unquote($media_aliases[$media] || $media)
    $media = '(%s)' % $media unless match('\(', $media)
    $media = 'only screen and %s' % $media
    @media $media
      for $block in $blocks
        {$block}

// Here would be our main styles, using the `media` mixin
// …

// Here we call all the cached styles
// apply_media_cache()

/* 
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
triangle($direction, $size = 6px, $color = #222){
  content: '';
  display: block;
  position: absolute;
  height: 0; 
  width: 0;
  if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: (1/2*$size) solid transparent;
    border-right: (1/2*$size) solid transparent;
  }
  else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: (1/2*$size) solid transparent;
    border-right: (1/2*$size) solid transparent;
  }
  else if ($direction == 'left'){
    border-top: (1/2*$size) solid transparent;
    border-bottom: (1/2*$size) solid transparent;
    border-right: $size solid $color;
  }
  else if ($direction == 'right'){
    border-top: (1/2*$size) solid transparent;
    border-bottom: (1/2*$size) solid transparent;
    border-left: $size solid $color;
  }
}

ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}

truncateText($overflow = ellipsis){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

@mixin hui_tooltip($content = attr(data-tooltip) $direction = top) {
  position: relative;
  &:before, 
  &:after {
    display: none;
    z-index: 98;
  }
  &:hover {
    &:after { // for text bubble
      content: $content;
      display: block;
      position: absolute;
      height: 12px; // (makes total height including padding 22px)
      padding: 6px;
      font-size: 12px;
      white-space: nowrap;
      color: #fff;
      background-color: #222;
    }
    if ($direction == 'top'){
      &:before {
        triangle(down, 6px, #222);
        top: -6px; 
        margin-top: 0;
        left: 47%;
      }
      &:after {
        top: -28px;
        left: 47%; 
        margin-left: -20px;
      }
    }
    else if ($direction == 'bottom'){
      &:before {
        triangle(up, 6px, #222);
        top: auto; 
        margin-top: 0;
        bottom: -6px;
        left: 47%;
      }
      &:after {
        bottom: -28px;
        left: 47%; 
        margin-left: -20px;
      }
    }
  }
}