doctype 1.1
html(class="no-js" lang="ru")

  head
    meta(charset="utf-8")
    title
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="telephone=no" name="format-detection")
    meta(name="robots" content="noodp, noydir")
    meta(name="viewport" content="width=device-width")

    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    link(rel="shortcut icon" type="image/ico" href="static/img/favicon.ico")
    link(rel="icon" type="image/png" href="static/img/favicon.png")
    link(rel="stylesheet", href="static/css/style.css")

  body
    block body
      h1= title
