// Common styles of the project
// maket(false, home)

$media_cache = {}
$media_aliases = {
  palm:       '(max-width: 480px)'
  lap:        '(min-width: 481px) and (max-width: 1023px)'
  lap-and-up: '(min-width: 481px)'
  portable:   '(max-width: 1023px)'
  desk:       '(min-width: 1024px)'
  desk-wide:  '(min-width: 1200px)'
}

$page = {
  fonts: {
    alfa: unquote('Arial, "Helvetica Neue", Helvetica, sans-serif')
  }
  width: {
    alfa: 1024px
  }
}

*
*:before
*:after
  box-sizing: border-box

html
  height: 100%
  font-family: $page.fonts.alfa
  font-size: 62.5%
    
body
  height: 100%
  font-size: 1.6rem
  font-weight: 400
  color: black
  min-width: $page.width.alfa
  overflow-x: hidden